body {
    background: #F1EEE8;
    font-family: arial;

}

h2 {
    font-size: 23px;


}

img {
    width: 100%;
}

.container {
    width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 50px;
}

p {
    font-size: 18px;

}

.container2 {
    margin: 20px 700px 10px 500px;
    background: #F1EEE8;
    padding: 10px 30px;
}

.container3 {
    margin: 20px 700px 10px 500px;
    background: #F1EEE8;
    padding: 20px 50px;
}

.btn_p {
    display: inline-block;
    background: #3d138d;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s;
    margin-bottom: 20px;
}

.btn_p:hover {
    background: rgba(74, 19, 224, 0.94);
    padding: 12px 22px;
}

.btn_1:hover {
    background: rgba(74, 19, 224, 0.94);
    padding: 30px 50px;
    border-radius: 10px
}

.btn_1 {
    background: #3d138d;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
}

.btn_2:hover {
    background: rgba(245, 255, 0, 0.84);
    padding: 10px 50px 10px 50px;

}

.btn_2 {
    background: rgba(255, 255, 0, 0.65);
    color: #ff0062;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;

}

.btn_3:hover {
    background: #4d4545;
    border-radius: 4px;
}

.btn_3 {
    background: red;
    color: #ffe1e1;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
}

.menu {
    margin-bottom: 30px;
}

.menu__link {
    text-decoration: none;
    margin-right: 30px;
    color: #000;
    border-right: 1px solid #adadad;
    padding-right: 10px;
    font-size: 18px;
    transition: 0.1;
    padding-bottom: 5px;
}

.menu__link:hover {
    color: #3d138d;
    border-bottom: 3px solid #3d138d;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .menu__link {
        font-size: 28px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    p {
        font-size: 28px;
    }
    
    .btn_p {
        font-size: 20px;
        padding: 15px 30px;
    }
}
